@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="list-group list-group-flush shadow-sm rounded">
    <a class="list-group-item list-group-item-action @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">
        <i class="bi bi-person-circle me-2"></i> Profile
    </a>
    <a class="list-group-item list-group-item-action @ManageNavPages.EmailNavClass(ViewContext)" asp-page="./Email">
        <i class="bi bi-envelope-at me-2"></i> Email
    </a>
    <a class="list-group-item list-group-item-action @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">
        <i class="bi bi-lock-fill me-2"></i> Password
    </a>
    @if (hasExternalLogins)
    {
        <a class="list-group-item list-group-item-action @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
            <i class="bi bi-box-arrow-in-right me-2"></i> External Logins
        </a>
    }
    <a class="list-group-item list-group-item-action @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication">
        <i class="bi bi-shield-lock-fill me-2"></i> Two-Factor Auth
    </a>
    <a class="list-group-item list-group-item-action @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">
        <i class="bi bi-person-lines-fill me-2"></i> Personal Data
    </a>
</div>
